<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <title>Python Hackathon Login</title> -->
 <title>Login - MITS DS-A Portal</title>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css\user\login.css' %}">

</head>
<body>

<div class="container">



<div class="right-panel">

    <div class="login-card">

        <div class="logo">

            <!-- <img src="{% static 'images/Vjiss.png' %}" alt="VJISS Logo"> -->
            <img src="{% static 'images/python.png' %}" alt="Python Logo">

            <h2>Python Talent Test</h2>

            <p>Login to continue</p>

        </div>

        {% if messages %}
            {% for message in messages %}
                <div class="message">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="POST">

            {% csrf_token %}

            <div class="form-group">
                <label>Email Address</label>

                <input
                    type="email"
                    name="email"
                    class="form-control"
                    placeholder="Enter Email"
                    required>
            </div>

            <!-- <div class="form-group">
                <label>Password</label>

                <input
                    type="password"
                    name="password"
                    class="form-control"
                    placeholder="Enter Password"
                    required>
            </div> -->

<div class="form-group">
    <label>Password</label>
    <div style="position:relative;">
        <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Enter Password"
            required>

        <span
            onclick="togglePassword()"
            style="position:absolute; right:15px; top:50%; transform:translateY(-50%); cursor:pointer;">
            👁️
        </span>
    </div>
</div>

<script>
function togglePassword() {
    const passwordField = document.getElementById("password");
    passwordField.type =
        passwordField.type === "password" ? "text" : "password";
}
</script>

            <div class="options">

                <label>
                    <input type="checkbox">
                    Remember Me
                </label>

               
            </div>

            <button type="submit" class="login-btn">
                Sign In
            </button>

        </form>

        <div class="register">
            Don't have an account?
            <a href="{% url 'register' %}">
                Register
            </a>
        </div>

    </div>

</div>
```

</div>

</body>
</html>