<!DOCTYPE html>
{% load static %}
<html>
<head>

    <title>Online Compiler</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.45.0/min/vs/loader.min.js"></script>

    <link rel="stylesheet" href="{% static 'css\hackathon_test\coding_test.css' %}">

</head>


<body>
  {% include 'user/timer.html' %}
<div class="header">
    <a href="{% url 'coding_question' %}"
   class="back-btn"
   onclick="allowNavigation()">
    ← Back
</a>

    <div class="logo">
        VJISS Pvt Ltd.. Hackathon Coding Test
    </div>

    <div class="header-space"></div>

</div>

<div class="container">

    <div class="left-panel">
        <div class="question-title">
            {{test.title}}
        </div>

        <div class="question-desc">
            <h4 style="color:rgb(8, 214, 187)">Description:</h4>
           {{ test.description|linebreaks }}

            <br><br>

            Example:

            <pre>

Input: {{test.Input |linebreaks}}

Output: {{test.Output |linebreaks}}

            </pre>

        </div>
    </div>

    <div class="right-panel">

        <form method="POST" id="examForm">

            {% csrf_token %}
             <input
        type="hidden"
        name="action"
        id="action_field">
            <input
                type="hidden"
                name="code"
                id="code_input"
            >

            <div id="editor"></div>

            <div class="controls">

                <button
                    type="submit"
                    class="run-btn"
                    name="action"
                    value="run"
                    onclick="saveCode()">

                    Run Code

                </button>
                    <button
                    type="submit"
                    class="submit-btn"
                    name="action"
                    value="submiting"
                    onclick="saveCode()">

                    Submit

                </button>
            </div>

        </form>

        <div class="output">

            <pre>{{ output }}</pre>

        </div>
       <div class="result-container">

    <h3>Test Case Results</h3>

    <table class="testcase-table">

        <thead>
            <tr>
                <th>Test Case</th>
                <th>Result</th>
            </tr>
        </thead>

        <tbody>

            {% for test_no,result in test_cases.items %}
            <tr>

                <td>{{ test_no }}</td>
             
                <td>
                    {% if result == "Passed" %}
                        <span class="passed">
                            ✓ Passed
                        </span>
                    {% else %}
                        <span class="failed">
                            ✗ Failed
                        </span>
                    {% endif %}
                </td>

            </tr>
            {% endfor %}

        </tbody>

    </table>

</div>

    </div>

</div>

<script>
    let leavingPage = false;

function allowNavigation() {
    leavingPage = true;
}

let editor;

require.config({
    paths:{
        vs:'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.45.0/min/vs'
    }
});

require(['vs/editor/editor.main'],function(){

    editor = monaco.editor.create(
        document.getElementById('editor'),
        {

            value:`{{ code|default:''|escapejs }}`,

            language:'python',

            theme:'vs-dark',

            automaticLayout:true,

            minimap:{
                enabled:true
            },

            fontSize:16
        }
    );

});

function saveCode(){

    document.getElementById(
        "code_input"
    ).value =
    editor.getValue();
}
function enterFullscreen() {

    let elem = document.documentElement;

    if (elem.requestFullscreen) {
        elem.requestFullscreen();
    }
    else if (elem.webkitRequestFullscreen) {
        elem.webkitRequestFullscreen();
    }
    else if (elem.msRequestFullscreen) {
        elem.msRequestFullscreen();
    }
}

window.onload = function() {

    if (sessionStorage.getItem("exam_mode")) {

        // Browser requires user interaction
        document.addEventListener("click", function() {

            if (!document.fullscreenElement) {
                enterFullscreen();
            }

        }, { once: true });

    }

};

document.addEventListener("fullscreenchange", function() {

    if (!document.fullscreenElement) {

        alert("Please stay in fullscreen mode.");

    }

});


/* =====================================
   ANTI CHEATING PROTECTION
===================================== */

/* =====================================
   ONE WARNING ONLY
===================================== */

let warned = false;

function autoSubmitCodingTest() {

    alert(
        "Second violation detected.\n" +
        "Your test will be submitted."
    );

    saveCode();

    document.getElementById("action_field").value = "submiting";

    document.getElementById("examForm").submit();
}

/* =====================================
   TAB SWITCH DETECTION
===================================== */

// document.addEventListener("visibilitychange", function () {

//     if (!document.hidden) return;

//     if (!warned) {

//         warned = true;

//         alert(
//             "Warning!\n\n" +
//             "Do not switch tabs.\n" +
//             "Next violation will submit the test."
//         );

//     } else {

//         autoSubmitCodingTest();

//     }
// });

document.addEventListener("visibilitychange", function () {

    if (leavingPage) return;

    if (!document.hidden) return;

    if (!warned) {

        warned = true;

        alert(
            "Warning!\n\n" +
            "Do not switch tabs.\n" +
            "Next violation will submit the test."
        );

    } else {

        autoSubmitCodingTest();

    }
});

/* =====================================
   TAB SWITCH DETECTION
===================================== */

// document.addEventListener("visibilitychange", function () {

//     console.log("Visibility Changed");
//     console.log(document.hidden);

//     if (document.hidden) {

//         violationCount++;

//         console.log("Violation:", violationCount);

//         if (violationCount === 1) {

//             alert("Warning! First violation");

//         } else {

//             autoSubmitCodingTest();

//         }
//     }
// });


/* =====================================
   ALT + TAB / WINDOW SWITCH
===================================== */

window.addEventListener("blur", function () {

    violationCount++;

    if (violationCount >= 2) {

        autoSubmitCodingTest();

    }

});

/* =====================================
   BLOCK DEVTOOLS
===================================== */

document.addEventListener("keydown", function(e){

    if (
        e.key === "F12" ||
        (e.ctrlKey && e.shiftKey && e.key === "I") ||
        (e.ctrlKey && e.shiftKey && e.key === "J") ||
        (e.ctrlKey && e.key === "u") ||
        (e.ctrlKey && e.key === "U") ||
        (e.ctrlKey && e.key === "v") ||
        (e.ctrlKey && e.key === "V") ||
        (e.ctrlKey && e.key === "C") ||
        (e.ctrlKey && e.key === "") 

    ) {

        e.preventDefault();

        alert(
            "Developer tools are disabled during the coding test."
        );
    }

});

/* =====================================
   DISABLE RIGHT CLICK
===================================== */

document.addEventListener("contextmenu", function(e){
    e.preventDefault();
});

/* =====================================
   FULLSCREEN EXIT DETECTION
===================================== */

// document.addEventListener("fullscreenchange", function() {

//     if (!document.fullscreenElement) {

//         violationCount++;

//         if (violationCount >= 2) {

//             autoSubmitCodingTest();

//         } else {

//             alert(
//                 "Warning!\n\n" +
//                 "Please remain in fullscreen mode."
//             );

//             enterFullscreen();
//         }
//     }
// });

document.addEventListener("fullscreenchange", function() {

    if (leavingPage) return;

    if (!document.fullscreenElement) {

        violationCount++;

        if (violationCount >= 2) {
            autoSubmitCodingTest();
        } else {
            alert("Please remain in fullscreen mode.");
            enterFullscreen();
        }
    }
});

</script>

</body>
</html>