
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding Challenge Portal</title>
<link rel="stylesheet" href="{% static 'css\hackathon_test\coding_question.css' %}">
  
</head>

<body>
    {% include 'user/timer.html' %}

    <div class="page-container">
<a href="{% url 'test_page' %}" class="back-btn">
   ← Back
</a>
        <div class="main-card">

            <div class="header">
    		<h1>Coding Challenge Portal</h1>
    		<p>Select a question and begin your challenge.</p>
	    </div>
     
{% for coding_question in coding_question %}
        
            <div class="question-card">
                <div class="question-content">
                    <span class="question-number">Question {{ forloop.counter }}</span>
                   <h2>{{coding_question.title}}</h2> 
                </div>

                <div class="button-area">
                    <a href="{% url 'code_test' coding_question.id %}" class="start-btn">
                        Start Challenge
                    </a>
                </div>
            </div>
        
    {% endfor %}
          

        </div>

    </div>

<script>
document.addEventListener("keydown", function(e){

    if (
        e.key === "F12" ||
        (e.ctrlKey && e.shiftKey && (e.key === "I" || e.key === "i")) ||
        (e.ctrlKey && e.shiftKey && (e.key === "J" || e.key === "j")) ||
        (e.ctrlKey && (e.key === "u" || e.key === "U")) ||
        (e.ctrlKey && (e.key === "c" || e.key === "C")) ||
        (e.ctrlKey && (e.key === "v" || e.key === "V"))
    ) {

        e.preventDefault();

        alert(
            "This action is disabled during the test."
        );
    }
});

/* Disable Right Click */
document.addEventListener("contextmenu", function(e){
    e.preventDefault();
});
</script>
</body>
</html>